@mixin text_color ($f-size: 16px) {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

@mixin blog($f-zise: 14px) {
    font-weight: 500;
    font-size: $f-zise;
    text-transform: capitalize;
    color: #000000;
}

@mixin moredata($fon-sizi: 44px) {
    font-weight: 700;
    font-size: $fon-sizi;
    line-height: 55px;
    vertical-align: middle;
}

@mixin lorem($f-siz: 18px, $color: #000000) {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

@mixin calendar($gap: 20px, $font-siz: 14px, $line-hig: 20px) {
    font-weight: 500;
    font-size: 14px;
    line-height: $line-hig;
    color: #828282;
    display: flex;
    gap: $gap;
    font-size: $font-siz;
    align-items: center;
}

@mixin when {
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    line-height: 20px;
    letter-spacing: 0%;

}

.calendar {
    @include calendar
}

.blog {
    @include blog;
}

.moredata {
    @include moredata;
    margin-top: -1px;
}

.Audience {
    margin-top: -10px;
}

.menu {
    display: flex;
    gap: 10px;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.menu_text {
    @include text_color(#000000);
    display: flex;
    gap: 30px;
}

.logo_flex {
    display: flex;
    gap: 5px;
    align-items: center;
}

.btn-1 {
    width: 107px;
    height: 32px;
    border: 1px solid #2642F8;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #2642F8;
}

.text {
    width: 460px;

}

.section_1 {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

.section_2 {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 70px;
    border-bottom: 1px solid gray;
    padding-bottom: 90px;
    align-items: center;

    .picturex_left {
        width: 100%;

        margin: auto;
        gap: 20px;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        line-height: 20px;
    }

    .box {
        width: 336px;
        height: 436px;
        margin-bottom: 20px;
    }


    .logo_flex {
        line-height: normal;
        align-items: center
    }

    .when {
        @include when;

    }

    .calendar {
        line-height: normal;

    }

    .Jan {
        margin-top: -10px;
    }

    .Lorem {
        font-size: 16px;
        margin-top: -3px;
        color: #333333;
        font-weight: 400;
    }

    .blog {
        font-weight: 700;

        .position {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0%;
            vertical-align: middle;

        }



    }
}

.picturex_righ {
    width: 43%;
    border-left: 1px solid gray;
    padding-left: 20px;
    height: auto;

    .Publications {
        font-size: 20px;
        font-weight: 600;
    }

    .box2 {
        width: 338px;
        height: 280px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 75px;
    }
}

.section_3 {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: auto;
    margin-top: 70px;

    .box {

        .moredata {
            font-size: 40px;
            width: 497px;
            line-height: normal;
        }

        .calendar {
            .input {
                width: 360px;
                height: 40px;
                padding-left: 30px;
                border-radius: 8px;
            }

            .btn-2 {
                width: 153px;
                height: 40px;
                background-color: #2642F8;
                color: aliceblue;
            }
        }
    }

    .box2 {
        width: 405px;
        color: #828282;
        font-size: 20px;

        .letyour {}
    }
}

.section_4 {
    background-color: #333333;
    width: 100%;
    height: 1066px;
    display: flex;
    flex-direction: column;
    position: relative;

    @mixin podskat {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        vertical-align: middle;
        color: #FFFFFF;

    }

    @mixin thebest {
        font-weight: 700;
        font-size: 64px;
        line-height: 65px;
        letter-spacing: 0%;
        vertical-align: middle;
        width: 433px;
        color: #FFFFFF;

    }

    .flex {
        display: flex;
        width: 60%;
        justify-content: space-between;
        margin: auto;
    }

    .pictures {
        margin: auto;
        width: 60%;
        margin-top: 80px;
        background: #333333;
        position: relative;

        .position {
            position: absolute;
            left: 30px;
            top: 20px;

            .Podcast {
                @include podskat;
                z-index: -1;

            }

            .thebest {
                @include thebest;
                margin-top: -0px;
            }
        }



    }

    .box {
        width: 456px;
        color: #FFFFFF;

        .when {
            line-height: normal;
        }

        .Jan {
            margin-top: -20px;
            line-height: normal;
        }

        .Lorem {
            line-height: normal;
        }
    }

    .left {
        display: flex;
        width: 615px;

        .when {
            width: 373px;
        }

        .colump {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;

            .when {
                margin-top: -5px;
            }

            .Lorem {
                margin-top: -10px;
            }
        }
    }

    .Browse {
        color: #6FCF97;
        display: flex;
        align-items: center;
        height: 7px;
        font-size: 18px;
        position: absolute;
        bottom: 60px;
        right: 800px;
    }
}
.section_5{
    width: 70%;
    margin: auto;
    margin-top: 80px;
  
    .tex_about{
font-weight: 500;
font-size: 18px;
line-height: 20px;
color: #333333;
letter-spacing: 0%;
display: flex;
gap: 60px;
border-bottom: 2px solid rgba(128, 128, 128, 0.594);
padding-bottom: 40px;
width: 95%;
margin: auto;
.letest{
    border-bottom: 4px solid #2642F8;

}

    }
    .flexgroup{
          flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    }
    .box{
        width: 336px;
        margin-bottom: 50px;
        .when{
            margin-top: -10px;
        }
        .Jan{
            margin-top: -10px;
        }
        .Lorem{
            margin-top: -10px;
        }
    }
}