.calendar {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  display: flex;
  gap: 20px;
  font-size: 14px;
  align-items: center;
}

.blog {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #000000;
}

.moredata {
  font-weight: 700;
  font-size: 44px;
  line-height: 55px;
  vertical-align: middle;
  margin-top: -1px;
}

.Audience {
  margin-top: -10px;
}

.menu {
  display: flex;
  gap: 10px;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.menu_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  display: flex;
  gap: 30px;
}

.logo_flex {
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn-1 {
  width: 107px;
  height: 32px;
  border: 1px solid #2642F8;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: #2642F8;
}

.text {
  width: 460px;
}

.section_1 {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

.section_2 {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 70px;
  border-bottom: 1px solid gray;
  padding-bottom: 90px;
  align-items: center;
}
.section_2 .picturex_left {
  width: 100%;
  margin: auto;
  gap: 20px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  line-height: 20px;
}
.section_2 .box {
  width: 336px;
  height: 436px;
  margin-bottom: 20px;
}
.section_2 .logo_flex {
  line-height: normal;
  align-items: center;
}
.section_2 .when {
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  line-height: 20px;
  letter-spacing: 0%;
}
.section_2 .calendar {
  line-height: normal;
}
.section_2 .Jan {
  margin-top: -10px;
}
.section_2 .Lorem {
  font-size: 16px;
  margin-top: -3px;
  color: #333333;
  font-weight: 400;
}
.section_2 .blog {
  font-weight: 700;
}
.section_2 .blog .position {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.picturex_righ {
  width: 43%;
  border-left: 1px solid gray;
  padding-left: 20px;
  height: auto;
}
.picturex_righ .Publications {
  font-size: 20px;
  font-weight: 600;
}
.picturex_righ .box2 {
  width: 338px;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 75px;
}

.section_3 {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: auto;
  margin-top: 70px;
}
.section_3 .box .moredata {
  font-size: 40px;
  width: 497px;
  line-height: normal;
}
.section_3 .box .calendar .input {
  width: 360px;
  height: 40px;
  padding-left: 30px;
  border-radius: 8px;
}
.section_3 .box .calendar .btn-2 {
  width: 153px;
  height: 40px;
  background-color: #2642F8;
  color: aliceblue;
}
.section_3 .box2 {
  width: 405px;
  color: #828282;
  font-size: 20px;
}
.section_4 {
  background-color: #333333;
  width: 100%;
  height: 1066px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section_4 .flex {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: auto;
}
.section_4 .pictures {
  margin: auto;
  width: 60%;
  margin-top: 80px;
  background: #333333;
  position: relative;
}
.section_4 .pictures .position {
  position: absolute;
  left: 30px;
  top: 20px;
}
.section_4 .pictures .position .Podcast {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  vertical-align: middle;
  color: #FFFFFF;
  z-index: -1;
}
.section_4 .pictures .position .thebest {
  font-weight: 700;
  font-size: 64px;
  line-height: 65px;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 433px;
  color: #FFFFFF;
  margin-top: 0px;
}
.section_4 .box {
  width: 456px;
  color: #FFFFFF;
}
.section_4 .box .when {
  line-height: normal;
}
.section_4 .box .Jan {
  margin-top: -20px;
  line-height: normal;
}
.section_4 .box .Lorem {
  line-height: normal;
}
.section_4 .left {
  display: flex;
  width: 615px;
}
.section_4 .left .when {
  width: 373px;
}
.section_4 .left .colump {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.section_4 .left .colump .when {
  margin-top: -5px;
}
.section_4 .left .colump .Lorem {
  margin-top: -10px;
}
.section_4 .Browse {
  color: #6FCF97;
  display: flex;
  align-items: center;
  height: 7px;
  font-size: 18px;
  position: absolute;
  bottom: 60px;
  right: 800px;
}

.section_5 {
  width: 70%;
  margin: auto;
  margin-top: 80px;
}
.section_5 .tex_about {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #333333;
  letter-spacing: 0%;
  display: flex;
  gap: 60px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.594);
  padding-bottom: 40px;
  width: 95%;
  margin: auto;
}
.section_5 .tex_about .letest {
  border-bottom: 4px solid #2642F8;
}
.section_5 .flexgroup {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.section_5 .box {
  width: 336px;
  margin-bottom: 50px;
}
.section_5 .box .when {
  margin-top: -10px;
}
.section_5 .box .Jan {
  margin-top: -10px;
}
.section_5 .box .Lorem {
  margin-top: -10px;
}/*# sourceMappingURL=main.css.map */